

html, body {

	background-color: grey;
}


#mainbody{

	width:65%;
	max-width: 940px;
    margin: 0 auto;



	
}




#logo-background {

	background-image: url("photos/header-logo.jpg");

	height: 244px;
	width: 100%;


	

}
.navbar {
	
	width: 100%;


}



.navbar-nav {

	margin: 0 auto;

}


#carouselExampleIndicators {



margin-bottom:200px;

	
}


.card-body{

text-align: justify;

}


#body {
	width:70%;
}

#collapsee {

	float:left;
	width:30%;

}