

html, body {

	background-color: #D7D5D5;
}


#mainbody{

	width:75%;
	max-width: 1500px;
    margin: 0 auto;
    background-color:white;



	
}




#logo-background {

	background-image: url("photos/header-logo.jpg");

	height: 244px;
	width: 100%;


	

}
.navbar {
	
	width: 100%;


}



.navbar-nav {

	margin: 0 auto;

}


#carouselExampleIndicators {



margin-bottom:0px;

	
}


.card-body{

text-align: justify;

}


#body {
	width:100%;
}

/* NEWS */

#colapsee {


}


/* FORMA --------------------------------------*/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
	
  
  background-color: #f2f2f2;
  padding: 100px;
}

/* FORMA --------------------------------------*/

/* CARD --------------------------------------*/
.card-group {
	margin-bottom: 30px;
}
/* FOOTER --------------------------------------*/

footer {
	margin-top: 200px;
}

.gradient1 {width: 100%; height: 3px; margin: 0px; padding:0px;
background: -webkit-linear-gradient(left, #a4dad0, #a4dad0, #2E44D8); 
  background: -o-linear-gradient(left, #a4dad0, #a4dad0, #2E44D8); 
  background: -moz-linear-gradient(left, #a4dad0, #a4dad0, #2E44D8);
  float: left;}